
  .alinhamento-botao-buscar{
  
    display:flex;
    align-items: flex-end;
  }
  
  .container-listas{
    height: 100%;
  
    display:grid;
    grid-template-areas:"contato endereco redesocial";
    /* grid-template-rows: 200px; */
    
  
  }
  
  
  .contato{
    padding-left: 0px !important;
    grid-area: contato;
    
  }
  .endereco{
   
    grid-area: endereco;
    
  }
  .redesocial{
    padding-right: 0px !important;
    grid-area: redesocial;
   
  }
  
  .contato, .endereco, .redesocial{
    height: 100%;
    width: 100%;
    padding: 0px 5px;
  }
  
  .lista-itens {
    background-color: rgb(235, 230, 230);
    height: 300px;
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    overflow-y:scroll;
  }
  
  .itens-contato, .itens-endereco{
    padding: 3px 5px ;
    font-size: 14px;
    height: auto;
    background-color: #61c6df;
    margin-bottom: 5px;
    border: 1px solid rgb(160, 154, 154);
  
  }
  
  