#App {
  background-color: rgb(211, 211, 211);
  height: 100%;
  width: 100%;
  display:grid;
  grid-template-areas: 
  "esp-cab esp-cab esp-cab"
  "esp-esq esp-cen esp-dir"
  "esp-rod esp-rod esp-rod";
  grid-template-columns: 200px calc(100% - 400px) 200px;
  grid-template-rows: 100px  calc(100% - 150px) 50px ;
  overflow-y: scroll;

}

#esp-cab{
  grid-area: esp-cab;
  
}
#esp-esq{
  grid-area: esp-esq;
  
}
#esp-cen{
  grid-area: esp-cen;
  
  padding: 15px;
}
#esp-dir{
  grid-area: esp-dir;
  
}
#esp-rod{
  grid-area: esp-rod;
  
}
