#App {
  background-color: rgb(176, 216, 228);
  height: 100%;
  width: 100%;
  display:grid;
  grid-template-areas: 
  "esp-cab esp-cab esp-cab"
  "esp-esq esp-cen esp-dir"
  "esp-rod esp-rod esp-rod";
  grid-template-columns: 200px calc(100% - 400px) 200px;
  grid-template-rows: 100px  calc(100% - 150px) 50px ;
  overflow-y: scroll;

}

#esp-cab{
  padding: 20px;
  border-bottom: 1px solid rgb(235, 230, 230);
  background-color: #61c6df;
  grid-area: esp-cab;
  
}
#esp-esq{
  border-right: 1px solid rgb(235, 230, 230);
  padding: 15px;
  grid-area: esp-esq;
  
}
#esp-cen{
  grid-area: esp-cen;
  
  padding: 15px;
}
#esp-dir{
  grid-area: esp-dir;
  
}
#esp-rod{
  grid-area: esp-rod;
  
}

.title-cab{
  font-size: 30px;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.747);
  
  
}
